.main {

    box-sizing: border-box;
    display: inline-grid;
    place-content: center;
    width: 50vw;
    height: 60vh;
    background: #ececec;
  }
  
.Heading {
    margin: 2rem;
    color: #333333;
    position: absolute;

    font-size: 1.5rem;
}

/* form {
    display: grid;
    gap: 1rem;
} */