* {
    box-sizing: border-box;
}

.Button {
    box-sizing: border-box;
    height: 3rem;  
    width: 16rem;
    border: 1px solid #333333;
    border-radius: 2px;
    background: #333333;
    color: white;
    font-size: 1.25rem;
    font-weight: 300;
  }
  
  .Button:hover {
    background: #222;
    cursor: pointer;
  }