* {
    box-sizing: border-box;
}

.button {
    --height: 3rem;
    --mainColor: black  ;
    --secondaryColor: white;


    height: var(--height);

    color: var(--secondaryColor);
    border: 3px solid var(--secondaryColor);
    background: var(--mainColor);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    border-radius: 3px;

    font-size: calc(var(--height) / 3);
}
.button.short {
    padding: 0 3rem;
}
.button.long {
    height: 100%;
}
.button.pill {
    border-radius: calc(var(--height) / 2);
}