.main {
    position: absolute;
    border: 1px solid red;
    box-sizing: border-box;
    width: 50%;
    height: 60vh;
    background: #333333;
    /* left: 0; */
    z-index: 2;

  }
  
.Heading {
    margin: 0;
    color: white;
  }
  
.Right {
    right: 0;
    /* transform: translate(100%); */
  }
  
.Left {
  left: 0;
  /* transform: translate(-100%); */
  }

